aws-cfn-bootstrap==2.0
boto3==1.33.13
botocore==1.33.13
cachelib==0.10.2
certifi==2025.8.3
charset-normalizer==3.4.2
click==8.1.8
docutils==0.14
Flask==2.2.5
Flask-Caching==2.1.0
flask-sqlalchemy==3.0.5
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
importlib-metadata==6.7.0
itsdangerous==2.1.2
jinja2==3.1.6
jmespath==1.0.1
lockfile==0.11.0
MarkupSafe==2.1.5
packaging==24.0
PyJWT==2.8.0
pystache==0.5.4
python-daemon==2.2.3
python-dateutil==2.9.0.post0
requests==2.31.0
s3transfer==0.8.2
simplejson==3.2.0
six==1.17.0
SQLAlchemy==2.0.42
typing-extensions==4.7.1
urllib3==1.26.20
Werkzeug==2.2.3
zipp==3.15.0
